<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mahila Chetna Samiti</title>

  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png" />
  <meta name="description" content="carity HTML 5 Template " />
   <link rel="stylesheet" href="css/bootstrap.min.css" />
   <link rel="stylesheet" href="css/animate.min.css" />
   <link rel="stylesheet" href="css/custom-animate.css" />    
   <link rel="stylesheet" href="css/swiper.min.css" />
   <link rel="stylesheet" href="css/font-awesome-all.css" />
   <link rel="stylesheet" href="css/style.css" />
   <link rel="stylesheet" href="css/responsive.css" />
   <link rel="stylesheet" href="css/jquery.magnific-popup.css" />
   <link rel="stylesheet" href="css/jquery-ui.css" />
   <link rel="stylesheet" href="css/odometer.min.css" />
   <link rel="stylesheet" href="css/owl.carousel.min.css" />
   <link rel="stylesheet" href="css/owl.theme.default.min.css" /> 
 </head>

 <body class="custom-cursor">
  <div class="page-wrapper">
   <header class="main-header-three">
    <div class="main-menu-three__top">
     <div class="main-menu-three__top-inner">
      <ul class="list-unstyled main-menu-three__contact-list">
       <li>
        <div class="icon"> <i class="fas fa-phone"></i> </div>
        <div class="text"> <p>+91-7373300737 </p> </div>
       </li>
       <li>
        <div class="icon"> <i class="fa fa-envelope"></i> </div>
        <div class="text"> <p><a href="mailto: info@mahilachetnasamiti.org">info@mahilachetnasamiti.org</a> </p> </div>
       </li>
       
        <li>  <div class="icon"> <i class="icon-pin"></i> </div>
         <div class="text"> <p>  Gautambudh Nagar Uttar Pradesh</p> </div>
        </li>
      </ul>
     
     <div class="main-menu-three__top-right">
      <ul class="list-unstyled main-menu-three__top-menu">
       <li><a href="login.ejs">Login</a></li>
       <li><a href="register.ejs">Signup</a></li>
      </ul>
     </div>
     </div>
    </div>
    
    <nav class="main-menu main-menu-three">
     <div class="main-menu-three__wrapper">
      <div class="main-menu-three__wrapper-inner">
       <div class="main-menu-three__left">
        <div class="main-menu-three__logo"> <a href="index.php"><img src="images/mahila-chetna-w.jpg" alt=""></a> </div>
       </div>
      
      <div class="main-menu-three__main-menu-box">
       <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

        <ul class="main-menu__list">
         <li> <a href="/">Home</a></li>
         <li class="dropdown"> <a href="#">About</a>
          <ul> 
            <li><a href="about-us.ejs">About Us</a></li>
            <li><a href="director’s-message.ejs">Director’s Message</a></li>
            <li><a href="our-team-advisors.ejs">Our Team & Advisors</a></li>
             <li><a href="our-partner.ejs">Our Partner</a></li>
            <li><a href="affiliation.ejs">Affiliation</a></li>
            <li><a href="complaint.ejs"> Complaint</a> </li>
           </ul>
         </li>
        
         <li class="dropdown"> <a href="#">Activity</a>
          <ul>
            <li><a href="health-hygiene-initiative.ejs">Health &amp; Hygiene Initiative</a></li>
            <li><a href="environment-forest.ejs">Environment & Forest</a></li>
            <li><a href="youth-skill-development.ejs">Youth Skill Development</a></li>
            <li><a href="rural-development.ejs">Rural development</a></li>
            <li><a href="women-development.ejs">Women's Development</a></li>
            <li><a href="education-awareness-program.ejs">Education Awareness Program</a></li>
           </ul>
         </li>

         <li class="dropdown"> <a href="#">Projects</a>
          <ul>
            <li><a href="animal-welfare.ejs">Animal Welfare</a></li>
            <li><a href="child-welfare.ejs">Child Welfare</a></li>
            <li><a href="women-empowerment.ejs">Women Empowerment</a></li>
            <li><a href="environment-help.ejs">Environment Help</a></li>
           </ul>
          </li>

            <li class="dropdown"> <a href="#">Committee</a>
          <ul>
            <li><a href="executive-member.ejs">Executive Member</a></li>
            <li><a href="national-executive.ejs">National Executive</a></li>
            <li><a href="regional-executive.ejs">Regional Executive</a></li>
            <li><a href="state-executive.ejs">State Executive</a></li>
            <li><a href="divisional-executive.ejs">Divisional Executive</a></li>
            <li><a href="district-executive.ejs">District Executive</a></li>
            <li><a href="tehsil-committee.ejs">Tehsil Committee</a></li>
            <li><a href="block-executive.ejs">Block Executive</a></li>
            <li><a href="committee-on-political-affairs.ejs">Committee on Political Affairs</a></li>
            <li><a href="city-executive.ejs">City Executive</a></li>
            <li><a href="assembly-executive.ejs">Assembly Executive</a></li>
           </ul>
          </li>

                             
         <li class="dropdown"> <a href="#">Internship</a>
          <ul>
            <li><a href="register.ejs">Registration Form</a></li>
            <li><a href="intership-verification.ejs">Intership Verification</a></li>
            <li><a href="intership-certificate.ejs">Intership Certificate</a></li>
            </ul>
         </li>
         
        <li class="dropdown"> <a href="#">Join Us</a>
          <ul>
           <li><a href="join-as-member.ejs">Member</a></li>
           <li><a href="join-as-volunteer.ejs">Volunteer</a></li>        
          </ul>
         </li> 
        
        <li class="dropdown"> <a href="#">Highlights</a>
         <ul>
           <li><a href="campaign.ejs">Campaign</a></li>
          <li><a href="blog.ejs">Blog</a></li>
          <li><a href="news.ejs">News</a></li>
          <li><a href="press-release.ejs">Press Release</a></li>
          <li><a href="our-achievment.ejs">Our Achievment </a></li>
          <li><a href="resources.ejs">resources</a></li>
          <li><a href="event.ejs">Event</a></li>
          <li><a href="Media.ejs">Media</a></li>
         </ul>
        </li>
     <li><a href="contact-us.ejs">Contact Us</a></li>
       
       </ul>
      </div>
     
     <div class="main-menu-three__right">
       <div class="main-menu-three__btn-box">  <a href="donate.php" class="thm-btn">Donate Now</a> </div>
      
       <div class="main-menu-three__cart"> 
        <a href="cart.ejs"> <span class="icon-shopping-cart"></span>   <span class="main-menu-three__cart-count">02</span> </a>
       </div>
       </div>
      </div>
     </div>
    </nav>
   </header>
 