<%- include('partials/header.ejs')%>
<div class="stricky-header stricked-menu main-menu">
 <div class="sticky-header__content"></div>
</div>
<section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
 <div class="page-header__shape-1 float-bob-x">
  <img src="assets/images/shapes/page-header-shape-1.png" alt="">
 </div>
 <div class="page-header__shape-2 float-bob-y">
  <img src="assets/images/shapes/page-header-shape-2.png" alt="">
 </div>
 <div class="container">
  <div class="page-header__inner">
   <h2>Affiliation</h2>
  </div>
 </div>
</section>
<!--Page Header End-->
<section class="about-page">
 <div class="container">
  <div class="row">
   <h3 class="section-title__title title-animation text-center mb-4">Affiliation</h3>
   <!--Gallery Page Single Start-->
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-3 col-lg-6 col-md-6">
    <div class="gallery-page__single">
     <div class="gallery-page__img-box">
      <img src="images/gallery-page-1-1.jpg" alt="">
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<section class="about-page">
 <div class="container">
  <div class="row">
   <h3 class="section-title__title title-animation text-center mb-4">Legal Information</h3>
   <!--Gallery Page Single Start-->
   <table class="table table-bordered">
    <tbody>
     <tr> <td> <b> Pan Number </b> </td> <td>ABOCS2922B</td> </tr>
     <tr> <td> <b> Udyam Registratio Number </b> </td> <td>UDYAM-HR-16-0032669</td> </tr>
     <tr>
      <td>
       <b> Section 80G Registration </b>
      </td>
      <td>ABOCS2922BF20241</td>
     </tr>
     <tr>
      <td>
       <b> Section 12A Registration </b>
      </td>
      <td>ABOCS2922BE20241</td>
     </tr>
     <tr>
      <td>
       <b> NGO Darpan Registration </b>
      </td>
      <td>HR/2024/0451572</td>
     </tr>
     <tr>
      <td>
       <b> e-Anudaan Registration </b>
      </td>
      <td>HR/00039154</td>
     </tr>
     <tr>
      <td>
       <b> ISO 9001 : 2015 (IAF) </b>
      </td>
      <td>KSRQS2409131416</td>
     </tr>
     <tr>
      <td>
       <b> MCA, Registration </b>
      </td>
      <td>U85500HR2024NPL124839</td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</section>
 <%- include('partials/footer.ejs')%>