<%- include('partials/header.ejs')%>
  
   <div class="stricky-header stricked-menu main-menu"> <div class="sticky-header__content"></div> </div>

   <section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
     
     <div class="page-header__shape-1 float-bob-x"> <img src="assets/images/shapes/page-header-shape-1.png" alt=""> </div>
     <div class="page-header__shape-2 float-bob-y"> <img src="assets/images/shapes/page-header-shape-2.png" alt=""> </div>
     <div class="container">
      <div class="page-header__inner">
       <h2>Block Executive</h2>
      </div>
     </div>
    </section>
   
   <!--Page Header End-->
     <section class="team-one team-page">
            <div class="container">
                <ul class="row list-unstyled">
                    <!--Team One Single Start-->
                     <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                     <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                </ul>
            </div>
        </section>
 

<?php include 'footer.php';?><?php include 'header.php';?>
  
   <div class="stricky-header stricked-menu main-menu"> <div class="sticky-header__content"></div> </div>

   <section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
     
     <div class="page-header__shape-1 float-bob-x"> <img src="assets/images/shapes/page-header-shape-1.png" alt=""> </div>
     <div class="page-header__shape-2 float-bob-y"> <img src="assets/images/shapes/page-header-shape-2.png" alt=""> </div>
     <div class="container">
      <div class="page-header__inner">
       <h2>Executive Member</h2>
      </div>
     </div>
    </section>
   
   <!--Page Header End-->
     <section class="team-one team-page">
            <div class="container">
                <ul class="row list-unstyled">
                    <!--Team One Single Start-->
                     <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                     <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                    <!--Team One Single Start-->
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="800ms">
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="images/team-details-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="team-one__content text-center">
                                <div class="team-one__title-box">
                                    <h3 class="team-one__title"> Jessica Brown</h3>
                                    <p class="team-one__sub-title">Volunter</p>
                                </div>
                           
                            </div>
                        </div>
                    </li>
                    <!--Team One Single End-->
                </ul>
            </div>
        </section>
 

<%- include('partials/footer.ejs')%>