<%- include('partials/header.ejs')%>
   
     <div class="stricky-header stricked-menu main-menu">
      <div class="sticky-header__content"></div> 
     </div>
 
        <!--Page Header Start-->     
     
        <section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
 <div class="page-header__shape-1 float-bob-x">
  <img src="assets/images/shapes/page-header-shape-1.png" alt="">
 </div>
 <div class="page-header__shape-2 float-bob-y">
  <img src="assets/images/shapes/page-header-shape-2.png" alt="">
 </div>
 <div class="container">
  <div class="page-header__inner">
   <h2>Blog Details</h2>
  </div>
 </div>
</section>
        <!--Page Header End-->

        <!--Start Sign Up One-->
      <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details__left">
                            <div class="blog-details__img">
                                <img src="images/donation-two-img-1.jpg" alt="">
                            </div>
                            <div class="blog-details__content">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-user"></span>
                                        </div>
                                        <a href="#">By admin</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-bubble-chat"></span>
                                        </div>
                                        <a href="#">Comments (05)</a>
                                    </li>
                                </ul>
                                <h3 class="blog-details__title">Explore the world like never before travel
                                    experience</h3>
                                <p class="blog-details__text-1">Web designing in a powerful way of just not an only
                                    professions, however, in a passion for our Company. We have to a tendency to believe
                                    the idea that smart looking of any website is the first impression on visitors.Web
                                    designing in a powerful way of just not an only professions, however, in a passion
                                    for our Company. We have</p>
                                <p class="blog-details__text-2">Web designing in a powerful way of just not an only
                                    professions, however, in a passion for our Company. We have to a tendency to believe
                                    the idea that smart looking of any website is the first impression on visitors.Web
                                    designing in a powerful way </p>
                                <div class="blog-details__author-box">
                                    <p class="blog-details__author-text">Aliquam eros justo, posuere loborti viverra
                                        laoreet matti ullamcorper posuere vive rra .Aliquam eros justo, posuere
                                        lobortis, viverra laoreet augue mattis fermentu m ul amcorper viverra laoreet.
                                    </p>
                                    <span class="blog-details__author-name">Mark wood</span>
                                    <div class="blog-details__author-quote">
                                        <span class="icon-quote"></span>
                                    </div>
                                </div>
                                <p class="blog-details__text-3">Web designing in a powerful way of just not an only
                                    professions, however, in a passion for our Company. We have to a tendency to believe
                                    the idea that smart looking of any website is the first impression on visitors.Web
                                    designing in a powerful way of just not an only professions, however, in a passion
                                    for our Company. We have</p>
                            </div>
                            <div class="blog-details__keyword-and-tag">
                                <div class="blog-details__keyword">
                                    <span>Keyword:</span>
                                    <div class="blog-details__keyword-list">
                                        <a href="#">Relief Effort</a>
                                        <a href="#">Kindness</a>
                                        <a href="#">Helping</a>
                                    </div>
                                </div>
                                <div class="blog-details__tag">
                                    <span>Tags:</span>
                                    <div class="blog-details__tag-list">
                                        <a href="#">Donation</a>
                                        <a href="#">Charity</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-one">
                                <h3 class="comment-one__title">2 comments</h3>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="images/team-2-1.jpg" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h4>Stanio lainton</h4>
                                        <span>September 16, 2024</span>
                                        <p>Ished fact that a reader will be distrol acted bioii the.ished fact that a
                                            reader will be distrol acted laoreet Aliquam fact that a reader will be
                                            distrol acted Aliquam eros justo. Ished fact that a reader will be distrol
                                            acted bioii the.i</p>
                                        <div class="comment-one__btn-box">
                                            <a href="blog-details.html" class="thm-btn">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="images/team-2-1.jpg" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h4>Junal Alex</h4>
                                        <span>September 16, 2024</span>
                                        <p>Ished fact that a reader will be distrol acted bioii the.ished fact that a
                                            reader will be distrol acted laoreet Aliquam fact that a reader will be
                                            distrol acted Aliquam eros justo. Ished fact that a reader will be distrol
                                            acted bioii the.i</p>
                                        <div class="comment-one__btn-box">
                                            <a href="#" class="thm-btn">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-form">
                                <h3 class="comment-form__title">Add a comment</h3>
                                <p class="comment-form__text">By using form u agree with the message sorage, you can
                                    contact us directly now</p>
                                <form action="assets/inc/sendemail.php"
                                    class="comment-form__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Your Name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="comment-form__input-box">
                                                <input type="email" placeholder="Your Email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Your Website" name="website">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="comment-form__input-box text-message-box">
                                                <textarea name="message" placeholder="Write your messege"></textarea>
                                            </div>
                                            <div class="comment-form__check-and-btn">
                                                <div class="checked-box">
                                                    <input type="checkbox" name="skipper1" id="skipper" checked="">
                                                    <label for="skipper"><span></span>Save my name email and
                                                        website</label>
                                                </div>
                                                <div class="comment-form__btn-box">
                                                    <button type="submit" class="thm-btn">Send
                                                        Messege<span><i class="icon-arrow-right"></i></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            
                            <div class="sidebar__single sidebar__category">
                                <div class="sidebar__title-box">
                                    <h3 class="sidebar__title">Categories</h3>
                                </div>
                                <ul class="sidebar__category-list list-unstyled">
                                    <li>
                                        <a href="blog-details.html">Donation Drive<span>59</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Community Outreach<span>35</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Volunteer Assistance<span>12</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Fundraising Event<span>46</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Support Network<span>78</span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Philanthropic Initiative<span>89</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <div class="sidebar__title-box">
                                    <h3 class="sidebar__title">Recent Post</h3>
                                </div>
                                <ul class="sidebar__post-list list-unstyled">
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="images/team-2-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <p class="sidebar__post-date"><span class="icon-calendar"></span>October 19,
                                                2022</p>
                                            <h3 class="sidebar__post-title"><a href="#">Funding Research
                                                    for a Cure Charity</a></h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="images/team-2-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <p class="sidebar__post-date"><span class="icon-calendar"></span>October 19,
                                                2022</p>
                                            <h3 class="sidebar__post-title"><a href="#">Supporting
                                                    Mental Health Initiatives Donations</a></h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="images/team-2-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <p class="sidebar__post-date"><span class="icon-calendar"></span>October 19,
                                                2022</p>
                                            <h3 class="sidebar__post-title"><a href="#">Caring for the
                                                    Elderly and Vulnerable at a Time</a></h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__tag">
                                <div class="sidebar__title-box">
                                    <h3 class="sidebar__title">Popular Tags</h3>
                                </div>
                                <div class="sidebar__tag-list">
                                    <a href="#">Giving Back</a>
                                    <a href="#">Relief Effort</a>
                                    <a href="#">Positive Impact</a>
                                    <a href="#">Kindness</a>
                                    <a href="#">Care</a>
                                    <a href="#">Helping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Sign Up One-->
<%- include('partials/footer.ejs')%>
