<%- include('partials/header.ejs')%>
 <div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content"></div>
  </div>

<!--Page Header Start-->
 <section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
   <div class="page-header__shape-1 float-bob-x"> <img src="assets/images/shapes/page-header-shape-1.png" alt=""> </div>
   <div class="page-header__shape-2 float-bob-y"> <img src="assets/images/shapes/page-header-shape-2.png" alt=""> </div>
   <div class="container">
  <div class="page-header__inner">
   <h2>Blog</h2>
  </div>
 </div>
</section>
        <!--Page Header End-->

        <!--Blog Page Start-->
        <section class="blog-two blog-page">
            <div class="container">
                <ul class="row list-unstyled">
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-1.jpg" alt="">
                                    <a href="blog-details.html" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>03 aug 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.php">Caring for the Elderly and
                                        Vulnerable
                                        Strategy</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.html">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-2.jpg" alt="">
                                    <a href="blog-details.php" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>03 aug 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.php">Help This People in Needleo
                                        Blog.</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.html">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-3.jpg" alt="">
                                    <a href="blog-details.php" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>03 aug 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.php">Education For Poor Children Is A
                                        Must</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.php">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="400ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-1.jpg" alt="">
                                    <a href="blog-details.php" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>05 June 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.php">Podcasting operational
                                        change</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.html">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-2.jpg" alt="">
                                    <a href="blog-details.php" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>12 June 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.html">A quick solutions for daily
                                        problem</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.html">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                    <!--Blog One Single Start-->
                    <li class="col-xl-4 col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="600ms">
                        <div class="blog-two__single">
                            <div class="blog-two__img-box">
                                <div class="blog-two__img">
                                    <img src="images/blog-3-3.jpg" alt="">
                                    <a href="blog-details.php" class="blog-two__link"><span class="sr-only"></span></a>
                                    <div class="blog-two__date">
                                        <p><span class="icon-calendar"></span>25 Feb 2024</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-two__content">
                                <ul class="blog-two__meta list-unstyled">
                                    <li>
                                        <p><span class="fas fa-user"></span>Admin</p>
                                    </li>
                                    <li>
                                        <p><span class="fas fa-comments"></span>Comment</p>
                                    </li>
                                </ul>
                                <h3 class="blog-two__title"><a href="blog-details.php">Capitalize on low hanging
                                        fruit</a></h3>
                                <p class="blog-two__text">We poor standard chunk nibh velit majority suffered
                                    alteration
                                    in some form aliquet sollic tudin.</p>
                                <div class="blog-two__read-more">
                                    <a href="blog-details.html">
                                        Read More<span class="icon-right-arrow-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--Blog One Single End-->
                </ul>
            </div>
        </section>
        <!--Blog Page End-->

<%- include('partials/footer.ejs')%>
