<%- include('partials/header.ejs')%>


 <div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content"></div>  
 </div>
 <!-- /.stricky-header -->

 <!--Page Header Start-->
<section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
 
 <div class="page-header__shape-1 float-bob-x"> <img src="assets/images/shapes/page-header-shape-1.png" alt=""> </div>
 <div class="page-header__shape-2 float-bob-y"> <img src="assets/images/shapes/page-header-shape-2.png" alt=""> </div>
 <div class="container">
  <div class="page-header__inner">
   <h2>Add Complaint</h2>
  </div>
 </div>
</section>

 <!--Start Sign Up One-->
 <section class="sign-up-one">
  <div class="container">
   <div class="container form-section">
    <h4>Personal Details</h4>
    <form>
     <div class="row g-3">
      <div class="col-md-6">
       <label for="name" class="form-label">Title <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="Title" placeholder="Enter Title" required>
      </div>

      <div class="col-md-6">
       <label for="name" class="form-label">Complain By <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="name" placeholder="Complain By" required>
      </div>

       <div class="col-md-6">
       <label for="mobile" class="form-label">Mobile No <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="mobile" placeholder="Enter your mobile" required>
      </div>

      <div class="col-md-6">
       <label for="address" class="form-label">Address <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="address" placeholder="Enter your address" required>
      </div>
 
  
      <div class="col-md-6">
       <label for="userid" class="form-label">Video URL <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="Video URL" placeholder="Video URL" required>
      </div>

        <div class="col-md-6">
       <label for="profile" class="form-label">Documents *</label>
       <input type="file" class="form-control" id="profile">
       <div class="note">Note: Image Size 512*512</div>
      </div>

       <div class="col-md-6">
       <label for="userid" class="form-label">Message  <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="Message" placeholder="Enter Message" required>
      </div>

       <div class="col-md-6">
       <label for="userid" class="form-label">Description <span class="text-danger">*</span>
       </label>
       <input type="text" class="form-control" id="Description" placeholder="Enter Description" required>
      </div>
  
      
     </div>
     <div class="text-center mt-4">
      <button type="submit" class="btn btn-submit">SUBMIT APPLICATION</button>
     </div>
     <div class="login-link"> Already have an account? <a href="#">Login Now</a>
     </div>
    </form>
   </div>
 </section>
 <!--End Sign Up One--> 
 <%- include('partials/footer.ejs')%>