<%- include('partials/header.ejs')%>
<div class="stricky-header stricked-menu main-menu main-menu-three">
 <div class="sticky-header__content"></div>
</div>
<section class="main-slider-three">
 <div class="main-slider-three__carousel owl-carousel owl-theme">
  <div class="item">
   <div class="main-slider-three__bg" style="background-image: url(images/slider-1-1.jpg);"></div>
   <div class="main-slider-three__overly"></div>
   <div class="main-slider-three__shape-1"></div>
   <!-- <div class="main-slider-three__shape-2"></div> -->
   <!-- <div class="main-slider-three__shape-3"></div> -->
   <div class="main-slider-three__shape-4"></div>
   <div class="main-slider-three__shape-5 float-bob-y">
    <img src="images/main-slider-three-shape-5.png" alt="">
   </div>
   <div class="main-slider-three__shape-6">
    <img src="images/main-slider-three-shape-6.png" alt="">
   </div>
   <div class="main-slider-three__shape-7 img-bounce">
    <img src="images/main-slider-three-shape-7.png" alt="">
   </div>
   <div class="container">
    <div class="main-slider-three__content">
     <div class="main-slider-three__sub-title-box">
      <div class="main-slider-three__sub-title-shape"></div>
      <p class="main-slider-three__sub-title">Give Hope For Homeless </p>
     </div>
     <h2 class="main-slider-three__title">They Need Your <br>
      <span>Help</span> to Live
     </h2>
     <p class="main-slider-three__text">We help companies develop powerful corporate social responsibility, grantmaking, <br> and employee engagement strategies. Dicta sunt explicabo. Nemo </p>
     <div class="main-slider-three__btn-box">
      <div class="main-slider-three__btn">
       <a href="about.html" class="thm-btn">Discover More</a>
      </div>
      <div class="main-slider-three__video-link">
       <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
        <div class="main-slider-three__video-icon">
         <span class="fa fa-play"></span>
         <i class="ripple"></i>
        </div>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item">
   <div class="main-slider-three__bg" style="background-image: url(images/slider-1-2.jpg);"></div>
   <div class="main-slider-three__overly"></div>
   <div class="main-slider-three__shape-1"></div>
   <!--        <div class="main-slider-three__shape-2"></div><div class="main-slider-three__shape-3"></div> -->
   <div class="main-slider-three__shape-4"></div>
   <div class="main-slider-three__shape-5 float-bob-y">
    <img src="images/main-slider-three-shape-5.png" alt="">
   </div>
   <div class="main-slider-three__shape-6">
    <img src="images/main-slider-three-shape-6.png" alt="">
   </div>
   <div class="main-slider-three__shape-7 img-bounce">
    <img src="images/main-slider-three-shape-7.png" alt="">
   </div>
   <div class="container">
    <div class="main-slider-three__content">
     <div class="main-slider-three__sub-title-box">
      <div class="main-slider-three__sub-title-shape"></div>
      <p class="main-slider-three__sub-title">Give Hope For Homeless </p>
     </div>
     <h2 class="main-slider-three__title">They Need Your <br>
      <span>Help</span> to Live
     </h2>
     <p class="main-slider-three__text">We help companies develop powerful corporate social responsibility, grantmaking, <br> and employee engagement strategies. Dicta sunt explicabo. Nemo </p>
     <div class="main-slider-three__btn-box">
      <div class="main-slider-three__btn">
       <a href="about.html" class="thm-btn">Discover More</a>
      </div>
      <div class="main-slider-three__video-link">
       <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
        <div class="main-slider-three__video-icon">
         <span class="fa fa-play"></span>
         <i class="ripple"></i>
        </div>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="item">
   <div class="main-slider-three__bg" style="background-image: url(images/slider-1-3.jpg);"></div>
    <div class="main-slider-three__overly"></div>
   <div class="main-slider-three__shape-1"></div>
     <div class="main-slider-three__shape-4"></div>
   <div class="main-slider-three__shape-5 float-bob-y">
    <img src="images/main-slider-three-shape-5.png" alt="">
   </div>
   <div class="main-slider-three__shape-6">
    <img src="images/main-slider-three-shape-6.png" alt="">
   </div>
   <div class="main-slider-three__shape-7 img-bounce">
    <img src="images/main-slider-three-shape-7.png" alt="">
   </div>
   <div class="container">
    <div class="main-slider-three__content">
     <div class="main-slider-three__sub-title-box">
      <div class="main-slider-three__sub-title-shape"></div>
      <p class="main-slider-three__sub-title">Give Hope For Homeless </p>
     </div>
     <h2 class="main-slider-three__title">They Need Your <br>
      <span>Help</span> to Live
     </h2>
     <p class="main-slider-three__text">We help companies develop powerful corporate social responsibility, grantmaking, <br> and employee engagement strategies. Dicta sunt explicabo. Nemo </p>
     <div class="main-slider-three__btn-box">
      <div class="main-slider-three__btn">
       <a href="about.html" class="thm-btn">Discover More</a>
      </div>
      <div class="main-slider-three__video-link">
       <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
        <div class="main-slider-three__video-icon">
         <span class="fa fa-play"></span>
         <i class="ripple"></i>
        </div>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!--Main  Slider Three End -->
<!--About Three Start -->
<section class="about-three">
 <div class="container">
  <div class="row">
   <div class="col-xl-6">
    <div class="about-three__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
     <div class="about-three__img-1">
      <img src="images/about-three-img-1.jpg" alt="">
      <div class="about-three__shape-1">
       <img src="images/about-three-shape-1.png" alt="">
      </div>
      <div class="about-three__shape-2">
       <img src="images/about-three-shape-2.png" alt="">
      </div>
     </div>
     <div class="about-three__img-2">
      <img src="images/resources/about-three-img-2.jpg" alt="">
     </div>
    </div>
   </div>
   <div class="col-xl-6">
    <div class="about-three__right wow fadeInRight" data-wow-delay="300ms">
     <div class="section-title text-left sec-title-animation animation-style2">
      <h6 class="section-title__tagline">
       <span class="section-title__tagline-border"></span>Welcome to Mahila Chetna Samiti
      </h6>
      <h3 class="section-title__title title-animation">Helping each other can make world better</h3>
     </div>
     <p class="about-three__text-1">Mahila Chetna Samiti (MCS), founded in 1997, is a family bound by hope and heart—a community built by and for women who dream of a brighter tomorrow but face challenges that so often go unheard. As a non-profit registered under the Uttar Pradesh Societies Registration Act, our purpose is deeply rooted in the struggles and aspirations we witness every day in India’s villages. </p>
     <div class="about-three__bottom-video-box mt-4">
      <div class="about-three__btn-box">
       <a href="about.html" class="thm-btn">Become a Volunteer</a>
      </div>
      <div class="about-three__video-link">
       <a href="about.html" class="thm-btn">Make a Donation</a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!--About Three End -->
<!--Counter One Start -->
<section class="counter-one">
 <div class="counter-one__bg-color">
  <div class="counter-one__bg" style="background-image: url(images/counter-one-bg.jpg);"></div>
 </div>
 <div class="container">
  <div class="counter-one__inner">
   <ul class="counter-one__count-list list-unstyled">
    <li class="wow fadeInLeft" data-wow-delay="100ms">
     <div class="counter-one__single">
      <div class="counter-one__single-shape"></div>
      <div class="counter-one__icon">
       <span class="icon-user-1"></span>
      </div>
      <div class="counter-one__content count-box">
       <h3 class="counter-one__count">
        <span class="count-text" data-stop="20" data-speed="1500"></span>+
       </h3>
       <p class="counter-one__text">Green Guardians</p>
      </div>
     </div>
    </li>
    <li class="wow fadeInLeft" data-wow-delay="200ms">
     <div class="counter-one__single">
      <div class="counter-one__single-shape"></div>
      <div class="counter-one__icon">
       <span class="icon-capital"></span>
      </div>
      <div class="counter-one__content count-box">
       <h3 class="counter-one__count">
        <span class="count-text" data-stop="35" data-speed="1500"></span>+
       </h3>
       <p class="counter-one__text">Education Awareness Programs</p>
      </div>
     </div>
    </li>
    <li class="wow fadeInRight" data-wow-delay="300ms">
     <div class="counter-one__single">
      <div class="counter-one__single-shape"></div>
      <div class="counter-one__icon">
       <span class="icon-interactions"></span>
      </div>
      <div class="counter-one__content count-box">
       <h3 class="counter-one__count">
        <span class="count-text" data-stop="20" data-speed="1500"></span>+
       </h3>
       <p class="counter-one__text">Digital Education Workshop</p>
      </div>
     </div>
    </li>
    <li class="wow fadeInRight" data-wow-delay="400ms">
     <div class="counter-one__single">
      <div class="counter-one__icon">
       <span class="icon-financing"></span>
      </div>
      <div class="counter-one__content count-box">
       <h3 class="counter-one__count">
        <span class="count-text" data-stop="15" data-speed="1500"></span>+
       </h3>
       <p class="counter-one__text">Women Empowerment Camp</p>
      </div>
     </div>
    </li>
   </ul>
  </div>
 </div>
</section>
<!--Counter One End -->
<!--Causes Two Start-->
<section class="causes-two">
 <div class="causes-two__bg-box">
  <div class="causes-two__bg" style="background-image: url(images/causes-two-bg.jpg);"></div>
 </div>
 <div class="container">
  <div class="section-title text-center sec-title-animation animation-style1">
    <h3 class="section-title__title title-animation">Support Life-Changing Campaigns</h3>
  </div>
  <ul class="row list-unstyled">
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
    <!--Causes One Single-->
    <div class="causes-two__single">
     <div class="causes-two__img">
      <img src="images/cause-2-1.jpg" alt="">
     </div>
     <div class="causes-two__content-box">
      <div class="causes-two__donate-btn-box">
       <a href="donate.html" class="thm-btn causes-two__donate-btn">Donate Now</a>
      </div>
      <div class="causes-two__content">
       <h3 class="causes-two__title">
        <a href="donations-details.html">Give African Child a Good Education.</a>
       </h3>
       <div class="causes-two__progress">
        <div class="bar">
         <div class="bar-inner count-bar" data-percent="75%">
          <div class="count-text">75%</div>
         </div>
        </div>
        <div class="causes-two__goals">
         <p>
          <span>₹ 25,270</span> Raised
         </p>
         <p>
          <span>₹ 30,000</span> Goal
         </p>
        </div>
       </div>
       <div class="causes-two__btn-box">
        <a href="donations-details.html" class="causes-two__read-more">Read More <span class="icon-plus-sign"></span>
        </a>
       </div>
      </div>
      <div class="causes-two__bottom">
       <ul class="list-unstyled causes-two__list">
        <li>
         <div class="icon">
          <span class="icon-calendar"></span>
         </div>
         <div class="text">
          <p>25 Mar 2022</p>
         </div>
        </li>
        <li>
         <div class="icon">
          <span class="icon-clock"></span>
         </div>
         <div class="text">
          <p>04:00 am / 06:00 am</p>
         </div>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </li>
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
    <!--Causes One Single-->
    <div class="causes-two__single">
     <div class="causes-two__img">
      <img src="images/cause-2-2.jpg" alt="">
     </div>
     <div class="causes-two__content-box">
      <div class="causes-two__donate-btn-box">
       <a href="donate.html" class="thm-btn causes-two__donate-btn">Donate Now</a>
      </div>
      <div class="causes-two__content">
       <h3 class="causes-two__title">
        <a href="donations-details.html">Raise Hand To The Poor Children Education.</a>
       </h3>
       <div class="causes-two__progress">
        <div class="bar">
         <div class="bar-inner count-bar" data-percent="75%">
          <div class="count-text">75%</div>
         </div>
        </div>
        <div class="causes-two__goals">
         <p>
          <span>₹ 25,270</span> Raised
         </p>
         <p>
          <span>₹ 30,000</span> Goal
         </p>
        </div>
       </div>
       <div class="causes-two__btn-box">
        <a href="donations-details.html" class="causes-two__read-more">Read More <span class="icon-plus-sign"></span>
        </a>
       </div>
      </div>
      <div class="causes-two__bottom">
       <ul class="list-unstyled causes-two__list">
        <li>
         <div class="icon">
          <span class="icon-calendar"></span>
         </div>
         <div class="text">
          <p>25 Mar 2022</p>
         </div>
        </li>
        <li>
         <div class="icon">
          <span class="icon-clock"></span>
         </div>
         <div class="text">
          <p>04:00 am / 06:00 am</p>
         </div>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </li>
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
    <!--Causes One Single-->
    <div class="causes-two__single">
     <div class="causes-two__img">
      <img src="images/cause-2-3.jpg" alt="">
     </div>
     <div class="causes-two__content-box">
      <div class="causes-two__donate-btn-box">
       <a href="donate.html" class="thm-btn causes-two__donate-btn">Donate Now</a>
      </div>
      <div class="causes-two__content">
       <h3 class="causes-two__title">
        <a href="donations-details.html">Children Education Needs For Change The World.</a>
       </h3>
       <div class="causes-two__progress">
        <div class="bar">
         <div class="bar-inner count-bar" data-percent="75%">
          <div class="count-text">75%</div>
         </div>
        </div>
        <div class="causes-two__goals">
         <p>
          <span>₹ 25,270</span> Raised
         </p>
         <p>
          <span>₹ 30,000</span> Goal
         </p>
        </div>
       </div>
       <div class="causes-two__btn-box">
        <a href="donations-details.html" class="causes-two__read-more">Read More <span class="icon-plus-sign"></span>
        </a>
       </div>
      </div>
      <div class="causes-two__bottom">
       <ul class="list-unstyled causes-two__list">
        <li>
         <div class="icon">
          <span class="icon-calendar"></span>
         </div>
         <div class="text">
          <p>25 Mar 2022</p>
         </div>
        </li>
        <li>
         <div class="icon">
          <span class="icon-clock"></span>
         </div>
         <div class="text">
          <p>04:00 am / 06:00 am</p>
         </div>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </li>
  </ul>
 </div>
</section>
<!--Causes Two End-->
<section class="login-one mt-5">
            <div class="container">
            
            <div class="services-one__shape-1 float-bob-y">
                <img src="assets/images/shapes/services-one-shape-1.png" alt="">
            </div>
            <div class="services-one__shape-2 float-bob-x">
                <img src="assets/images/shapes/services-one-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="section-title text-center sec-title-animation animation-style1 ">
                  <h3 class="section-title__title title-animation">Our Community</h3>                    
                    <p>Welcome to our platform! Whether you're an NGO, an individual looking to become a member, or a passionate volunteer, we invite you to register and be part of our community. Together, let's make a difference and create positive change.</p>
                
                </div>
                <ul class="row list-unstyled">
             
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInLeft;">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-graduation-cap"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-member.ejs">Become a Member</a></h3>
                            
                            <div class="services-one__shape"></div>
                               <a href="join-as-member.ejs" class="services-one__read-more">Join us Now<span class="icon-right-arrow"></span></a>
                        </div>
                    </li>
               
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-helping-hand"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-volunteer.ejs">Become a Volunteer</a></h3> 
                            <div class="services-one__shape"></div>
                            <a href="join-as-volunteer.ejs" class="services-one__read-more">Join Us Now<span class="icon-right-arrow"></span></a>
                        </div>
                    </li>
             
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-healthcare"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-fundraiser.ejs">Become a Fundraiser</a></h3>
                             
                            <div class="services-one__shape"></div>
                            <a href="join-as-fundraiser.ejs" class="services-one__read-more">Join us Now<span class="icon-right-arrow"></span></a>
                        </div>
                    </li>
     
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInRight;">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-donation"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-intern.ejs">Become an Intern</a></h3>
                             
                            <div class="services-one__shape"></div>
                            <a href="join-as-intern.ejs" class="services-one__read-more">Join us Now<span class="icon-right-arrow"></span></a>
                        </div>
                    </li>
                    <!--Services One Single End-->
                </ul>
            </div>
      
            </div>
        </section>
<!--Team Two Start-->
<section class="team-two">
 <div class="container">
  <div class="section-title text-center sec-title-animation animation-style1">
   
   <h3 class="section-title__title title-animation text-white">Meet Our Volunteer Team.</h3>
  </div>
  <ul class="row list-unstyled">
   <li class="col-xl-3 col-lg-3 wow fadeInLeft" data-wow-delay="100ms">
    <!--Team One Single-->
    <div class="team-two__single">
     <div class="team-two__img">
      <img src="images/team-2-1.jpg" alt="">
     </div>
     <div class="team-two__content">
      <h4 class="team-two__name">
       <a href="volunteer-details.html">Kavin Martin</a>
      </h4>
      <p class="team-two__title">Ceo</p>
     </div>
    </div>
   </li>
   <li class="col-xl-3 col-lg-3 wow fadeInUp" data-wow-delay="200ms">
    <!--Team One Single-->
    <div class="team-two__single">
     <div class="team-two__img">
      <img src="images/team-2-2.jpg" alt="">
     </div>
     <div class="team-two__content">
      <h4 class="team-two__name">
       <a href="volunteer-details.html">Robert Spin</a>
      </h4>
      <p class="team-two__title">Ceo</p>
     </div>
    </div>
   </li>
   <li class="col-xl-3 col-lg-3 wow fadeInRight" data-wow-delay="300ms">
    <!--Team One Single-->
    <div class="team-two__single">
     <div class="team-two__img">
      <img src="images/team-2-3.jpg" alt="">
     </div>
     <div class="team-two__content">
      <h4 class="team-two__name">
       <a href="volunteer-details.html">Adam Smith</a>
      </h4>
      <p class="team-two__title">Ceo</p>
     </div>
    </div>
   </li>
      <li class="col-xl-3 col-lg-3 wow fadeInRight" data-wow-delay="300ms">
    <!--Team One Single-->
    <div class="team-two__single">
     <div class="team-two__img">
      <img src="images/team-2-3.jpg" alt="">
     </div>
     <div class="team-two__content">
      <h4 class="team-two__name">
       <a href="volunteer-details.html">Adam Smith</a>
      </h4>
      <p class="team-two__title">Ceo</p>
     </div>
    </div>
   </li>
  </ul>
 </div>
</section>
<!--Team Two End-->
<!--Brand One Start-->
<section class="brand-one">
 <div class="container">
  <div class="brand-one__carousel owl-theme owl-carousel">
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-1.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-2.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-3.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-4.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-5.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
   <!--Brand One Single Start-->
   <div class="item">
    <div class="brand-one__single">
     <div class="brand-one__img">
      <img src="images/logo-for-6.jpg" alt="">
     </div>
    </div>
   </div>
   <!--Brand One Single End-->
  </div>
 </div>
</section>
<!--Brand One End-->
<!--Donation Two Start -->
<section class="donation-two">
 <div class="container">
  <div class="section-title text-center sec-title-animation animation-style1">
   <h6 class="section-title__tagline">
    <span class="section-title__tagline-border"></span>Make Donate
   </h6>
   <h3 class="section-title__title title-animation">Become a Donate Now</h3>
  </div>
  <div class="donation-two__wrap">
   <div class="row">
    <div class="col-xl-6 col-lg-6">
     <div class="donation-two__left">
        <div class="donation-two__main-tab-box tabs-box">
 
       <div class="tabs-content">
        <div class="tab active-tab" id="monthly">
         <div class="donation-two__inner">
          <h3 class="donation-two__amount-title">Select Amount </h3>
          <div class="donation-two__donate-box">
           <button class="amount-btn-1">
            <span>₹ </span>50 </button>
           <div class="donate-amount wow fadeInUp" data-wow-delay=".5s">
            <input type="text" class="addAmount-value" placeholder="Custom Amount">
            <button class="amount-btn">₹ 30</button>
            <button class="amount-btn">₹ 40</button>
            <button class="amount-btn">₹ 50</button>
            <button class="amount-btn">₹ 60</button>
           </div>
          </div>
          <div class="checked-box">
           <input type="checkbox" name="skipper1" id="skipper" checked="">
           <label for="skipper">
            <span></span>Get Inspire Donate Help Change a life. </label>
          </div>
          <div class="donation-two__btn-box">
           <button type="submit" class="thm-btn">Donate Now</button>
          </div>
         </div>
        </div>
   
       </div>
      </div>
     </div>
    </div>
    <div class="col-xl-6 col-lg-6">
     <div class="donation-two__right">
      <div class="donation-two__img">
       <img src="images/donation-two-img-1.jpg" alt="">
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!--Donation Two End -->
<!--video Two Start-->
<section class="video-two">
 <div class="video-two__content-box">
  <div class="video-two-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url(images/video-two-bg.jpg);"></div>
  <div class="container">
   <div class="video-two__inner">
    <div class="video-two__video-link">
     <a href="https://www.youtube.com/watch?v=-EyOMmuJj3U">
      <div class="video-two__video-icon">
       <span class="fa fa-play"></span>
       <i class="ripple"></i>
      </div>
     </a>
    </div>
    <h3 class="video-two__title">Welcome To Our We Donation <br> Video Poor. </h3>
    <p class="video-two__text">If you are going to use a passage of Lorem Ipsum, you <br> need to be sure there isn't anything </p>
    <div class="video-two__btn-box">
     <a href="about.html" class="thm-btn">Video More</a>
    </div>
   </div>
  </div>
 </div>
</section>
<!--video Two End-->
<!--Feature Three Start-->
<section class="feature-three">
 <div class="feature-three__inner">
  <div class="feature-three__carousel owl-theme owl-carousel">
   <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-kindness"></span>
      </div>
      <h3 class="feature-three__title">Implest and</br> Quickest</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->
   <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-2">
     <div class="feature-three__single-bg" style="background-image: url(images/Health-Hygiene-Initiative.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-capital"></span>
      </div>
      <h3 class="feature-three__title">Health &amp; </br>Hygiene Initiative</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->
   <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-3">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-helping-hand"></span>
      </div>
      <h3 class="feature-three__title">Environment & </br>Forest</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->
   <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-4">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-healthcare"></span>
      </div>
      <h3 class="feature-three__title">Youth </br>Skill Development</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->
   <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-5">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-education"></span>
      </div>
      <h3 class="feature-three__title">Rural </br>development</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->

      <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-5">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-education"></span>
      </div>
      <h3 class="feature-three__title">Women's </br>Development</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->

      <!--Feature Three Single Start-->
   <div class="item">
    <div class="feature-three__single feature-three__single-5">
     <div class="feature-three__single-bg" style="background-image: url(images/Implest-and-Quickest.jpg);"></div>
     <div class="feature-three__icon-and-title">
      <div class="feature-three__icon">
       <span class="icon-education"></span>
      </div>
      <h3 class="feature-three__title">Education </br>Awareness Program</h3>
     </div>
     <p class="feature-three__text">While building out a new website you literally no idea of where to start.</p>
     <div class="feature-three__btn-box">
      <a href="donations-details.html" class="thm-btn">See More</a>
     </div>
    </div>
   </div>
   <!--Feature Three Single End-->

  </div>
 </div>
</section>
<!--Feature Three End-->
 
<section class="testimonial-two mt-5">
 <div class="container">
   <div class="section-title text-center sec-title-animation animation-style1">
       <h6 class="section-title__tagline"><span class="section-title__tagline-border"></span> Our testimonials  </h6>
                    <h3 class="section-title__title title-animation" style="perspective: 400px;"><div class="split-line" style="display: block; text-align: center; position: relative;"><div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">O</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">u</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">r</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">I</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">m</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">p</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">a</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">c</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">t</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">i</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">n</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">T</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">h</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">e</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">i</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">r</div></div> <div style="position:relative;display:inline-block;"><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">W</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">o</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">r</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">d</div><div style="position: relative; display: inline-block; transform: translate(0px, 0px); opacity: 1;">s</div></div></div></h3>
                </div>
                <div class="testimonial-two__carousel owl-theme owl-carousel owl-loaded owl-drag">
                    
                    
                    <!--Testimonial Two Single End-->
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2400px, 0px, 0px); transition: 0.5s; width: 4400px;"><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-3">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Saima Byuk</a></h4>
                                <span class="testimonial-two__client-title">Founder</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-4">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Susan Paul</a></h4>
                                <span class="testimonial-two__client-title">Volunter</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-5">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Adam Smith</a></h4>
                                <span class="testimonial-two__client-title">Manager</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Karom boros</a>
                                </h4>
                                <span class="testimonial-two__client-title">Founder</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-2">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Haruy Giyan</a>
                                </h4>
                                <span class="testimonial-two__client-title">Customer</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-3">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Saima Byuk</a></h4>
                                <span class="testimonial-two__client-title">Founder</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-4">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Susan Paul</a></h4>
                                <span class="testimonial-two__client-title">Volunter</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-5">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Adam Smith</a></h4>
                                <span class="testimonial-two__client-title">Manager</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned active" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Karom boros</a>
                                </h4>
                                <span class="testimonial-two__client-title">Founder</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-2">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Haruy Giyan</a>
                                </h4>
                                <span class="testimonial-two__client-title">Customer</span>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                        <div class="testimonial-two__single testimonial-two__single-3">
                            <div class="testimonial-two__img">
                                <img src="images/Implest-and-Quickest.jpg" alt="">
                                <div class="testimonial-two__quote">
                                    <span class="fas fa-quote-left"></span>
                                </div>
                            </div>
                            <p class="testimonial-two__text">Lorem ipsum dolor sit amet,elit, sed do eiusmod tempor
                                incididunt ut labore et dolore aliqua.</p>
                            <div class="testimonial-two__ratting">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                            <div class="testimonial-two__client-info">
                                <h4 class="testimonial-two__client-name"><a href="#">Saima Byuk</a></h4>
                                <span class="testimonial-two__client-title">Founder</span>
                            </div>
                        </div>
                    </div></div></div></div> 
            </div>
        </section>
<!--Blog Three End-->
<section class="blog-three">
 <div class="container">
  <div class="section-title text-center sec-title-animation animation-style1">
   <h3 class="section-title__title title-animation">Our Blog Post</h3>
  </div>
  <ul class="row list-unstyled">
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
    <!--Blog Three Single-->
    <div class="blog-three__single">
     <div class="blog-three__img">
      <img src="images/blog-3-1.jpg" alt="">
     </div>
     <div class="blog-three__content">
      <ul class="list-unstyled blog-three__meta">
       <li>
        <a href="blog-details.html">
         <i class="far fa-clock"></i> by Admin </a>
       </li>
       <li>
        <a href="blog-details.html">
         <i class="far fa-calendar"></i> May 20, 2022 </a>
       </li>
      </ul>
      <h3 class="blog-three__title">
       <a href="blog-details.html">Help This People in Need leo Blog.</a>
      </h3>
      <div class="blog-three__person">
       <div class="blog-three__person-img">
        <img src="images/blog-3-person-img-1.jpg" alt="">
       </div>
       <div class="blog-three__person-name">
        <p>
         <span>By</span> Kevin Martin
        </p>
       </div>
      </div>
     </div>
    </div>
   </li>
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
    <!--Blog Three Single-->
    <div class="blog-three__single">
     <div class="blog-three__img">
      <img src="images/blog-3-2.jpg" alt="">
     </div>
     <div class="blog-three__content">
      <ul class="list-unstyled blog-three__meta">
       <li>
        <a href="blog-details.html">
         <i class="far fa-clock"></i> by Admin </a>
       </li>
       <li>
        <a href="blog-details.html">
         <i class="far fa-calendar"></i> May 20, 2022 </a>
       </li>
      </ul>
      <h3 class="blog-three__title">
       <a href="blog-details.html">Leverage agile frame work to provide</a>
      </h3>
      <div class="blog-three__person">
       <div class="blog-three__person-img">
        <img src="images/blog-3-person-img-2.jpg" alt="">
       </div>
       <div class="blog-three__person-name">
        <p>
         <span>By</span> Kevin Coper
        </p>
       </div>
      </div>
     </div>
    </div>
   </li>
   <li class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
    <!--Blog Three Single-->
    <div class="blog-three__single">
     <div class="blog-three__img">
      <img src="images/blog-3-3.jpg" alt="">
     </div>
     <div class="blog-three__content">
      <ul class="list-unstyled blog-three__meta">
       <li>
        <a href="blog-details.html">
         <i class="far fa-clock"></i> by Admin </a>
       </li>
       <li>
        <a href="blog-details.html">
         <i class="far fa-calendar"></i> May 20, 2022 </a>
       </li>
      </ul>
      <h3 class="blog-three__title">
       <a href="blog-details.html">Bring to the table win-win survival</a>
      </h3>
      <div class="blog-three__person">
       <div class="blog-three__person-img">
        <img src="images/blog-3-person-img-3.jpg" alt="">
       </div>
       <div class="blog-three__person-name">
        <p>
         <span>By</span> Jessica Brown
        </p>
       </div>
      </div>
     </div>
    </div>
   </li>
  </ul>
 </div>
</section>
<%- include('partials/footer.ejs')%>