<%- include('partials/header.ejs')%>

 <div class="stricky-header stricked-menu main-menu">
  <div class="sticky-header__content"></div> 
 </div> 

 <!--Page Header Start-->
<section class="page-header" style="background-image: url(images/page-header-bg.jpg);background-size: cover;height: 310px;">
 
 <div class="page-header__shape-1 float-bob-x"> <img src="assets/images/shapes/page-header-shape-1.png" alt=""> </div>
 <div class="page-header__shape-2 float-bob-y"> <img src="assets/images/shapes/page-header-shape-2.png" alt=""> </div>
 <div class="container">
  <div class="page-header__inner">
   <h2>Register</h2>
  </div>
 </div>
</section>

        <!--Start Login One-->
        <section class="login-one mt-5">
            <div class="container">
            
            <div class="services-one__shape-1 float-bob-y">
                <img src="assets/images/shapes/services-one-shape-1.png" alt="">
            </div>
            <div class="services-one__shape-2 float-bob-x">
                <img src="assets/images/shapes/services-one-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="section-title text-center sec-title-animation animation-style1 ">
                    <h6 class="section-title__tagline"><span class="section-title__tagline-border"></span>Select your Section
                    </h6>
                    <p>Welcome to our platform! Whether you're an NGO, an individual looking to become a member, or a passionate volunteer, we invite you to register and be part of our community. Together, let's make a difference and create positive change.</p>
                
                </div>
                <ul class="row list-unstyled">
             
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-graduation-cap"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-member">Become a Member</a></h3>
                            
                            <div class="services-one__shape"></div>
                               <a href="join-as-member" class="services-one__read-more">Join us Now<span
                                    class="icon-right-arrow"></span></a>
                        </div>
                    </li>
               
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-helping-hand"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-volunteer">Become a Volunteer</a></h3> 
                            <div class="services-one__shape"></div>
                            <a href="join-as-volunteer" class="services-one__read-more">Join Us Now<span
                                    class="icon-right-arrow"></span></a>
                        </div>
                    </li>
             
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-healthcare"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-fundraiser">Become a Fundraiser</a></h3>
                             
                            <div class="services-one__shape"></div>
                            <a href="join-as-fundraiser" class="services-one__read-more">Join us Now<span
                                    class="icon-right-arrow"></span></a>
                        </div>
                    </li>
     
                    <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="400ms">
                        <div class="services-one__single">
                            <div class="services-one__icon">
                                <span class="icon-donation"></span>
                            </div>
                            <h3 class="services-one__title"><a href="join-as-intern">Become an Intern</a></h3>
                             
                            <div class="services-one__shape"></div>
                            <a href="join-as-intern" class="services-one__read-more">Join us Now<span
                                    class="icon-right-arrow"></span></a>
                        </div>
                    </li>
                    <!--Services One Single End-->
                </ul>
            </div>
      
            </div>
        </section>
        <!--End Login One-->

<%- include('partials/footer.ejs')%>